body {
    background-color: #070F2B;
}

.wave-img {
    width: 100%;
    height: 30px;
    object-fit: cover;
    display: block;
}

.divider {
    display: block;
    width: 100%;
    object-fit: cover;
}

.navbar {
    height: 90px;
}
